@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;

.dropdown {
    &__button {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        padding: 0.5rem 0.625rem;
        border: none;
        background-color: $neutral800;
        color: white;
        @include tp8;
        border-radius: 0.625rem;

        img {
            // height: 0.875rem;

        }
    }

}