@font-face {
    font-family: "Bricolage Grotesque", sans-serif;
    src: url("/src/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans", sans-serif;
    src: url("/src/assets/fonts/DM_Sans/DMSans-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans", sans-serif;
    src: url("/src/assets/fonts/DM_Sans/DMSans-Italic-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}





@mixin font-dm-sans($weight: 400, $style: normal, $size: 1rem, $line-height: 120%, $letter-spacing: 0px) {
    font-family: "DM Sans", sans-serif;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}


@mixin font-bricolage($weight: 400, $style: normal, $size: 1rem, $line-height: 120%, $letter-spacing: 0px) {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}


@mixin tp1 {
    @include font-dm-sans(600, italic, 6rem, 100%, -2px);
}

@mixin tp2 {
    @include font-bricolage(700, normal, 3.25rem, 120%, 0px);
}

@mixin tp3 {
    @include font-dm-sans(300, normal, 2rem, 100%, 0px);
}

@mixin tp4 {
    @include font-dm-sans(700, normal, 1.75rem, 120%, 0px);
}

@mixin tp5 {
    @include font-dm-sans(600, normal, 1.25rem, 120%, 0px);
}

@mixin tp5-med {
    @include font-dm-sans(500, normal, 1.25rem, 120%, 0px);
}

@mixin tp6 {
    @include font-dm-sans(500, normal, 1.125rem, 120%, 0px);
}

@mixin tp7 {
    @include font-dm-sans(500, normal, 1rem, 120%, 0px);
}

@mixin tp8 {
    @include font-dm-sans(500, normal, 0.875rem, 120%, 0px);
}