// colors
$neutral900: #02012c;
$neutral800: #262540;
$neutral700: #303f4a;
$neutral600: #3c3b5e;
$neutral300: #acacb7;
$neutral200: #d4d3d9;
$neutral100: #ffffff;
$orange500: #ff820a;
$blue500: #46589d;
$blue700: #2b1b9c;


$tablet-breakpoint: 600px;
$desktop-breakpoint: 1440px;