@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/mixins" as *;

.units-dropdown {
    position: relative;
    &__form {
        // border: 1px solid red;
        padding: 0.375rem 0.5rem;
        color: white;
        background-color: $neutral800;
        width: 13.375rem;
        border-radius: 0.75rem;
        border: 1px solid $neutral600;
        position: absolute;
        right: 0;
        top: 2.625rem;
        z-index: 1;

    }

    &__open {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        padding: 0.5rem 0.625rem;
        border: none;
        background-color: $neutral800;
        color: white;
        @include tp8;
        border-radius: 0.625rem;

        img {

            @include tablet {
                width: 1rem;
            }
        }

    }

    &__button {
        color: white;
        background-color: transparent;
        border: none;
        @include tp7;
        padding: 0.625rem 0.5rem;
    }

    &__fieldset {
        border: none;
        border-bottom: 1px solid $neutral600;
        padding-bottom: 0.25rem;
        margin-bottom: 0.25rem;

        &:last-of-type {
            border-bottom: none;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    }


    &__legend {
        @include tp8;
        color: $neutral300;
        padding: 0.375rem 0.5rem 0 0.5rem;
        margin-bottom: 0.5rem;
    }

    &__option {
        @include tp7;
        padding: 0.625rem 0.5rem;

        &:hover {
            cursor: pointer;
        }

        &:has(.units-dropdown__radio:checked) {
            background-color: $neutral700;
            border-radius: 0.5rem;
            position: relative;


            &::after {
                content: url("/images/icon-checkmark.svg");
                position: absolute;
                right: 0.5rem;

            }
        }
    }

    &__radio {
        appearance: none;
    }


}