@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/mixins" as *;

.hourly-forecast {
    margin-top: 2rem;
    background-color: $neutral800;
    padding: 1.25rem 1rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__title {
        @include tp5;
    }




    &__hours {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__hour {
        display: flex;
        padding: 1.125rem 1rem 1.125rem 0.75rem;
        border: 1px solid $neutral600;

        justify-content: space-between;
        align-items: center;
        background-color: $neutral700;
        border-radius: 0.5rem;

        @include desktop {
            padding: 0.625rem 1rem 0.625rem 0.75rem;
        }

        &-time {
            display: flex;
            align-items: center;
            gap: 0.5rem
        }

        &-label {
            @include tp5-med;

        }

        &-icon {
            height: 2.5rem;
        }

        &-label {}

        &-temp {
            @include tp7;
        }
    }

}


.day-picker {
    position: relative;

    &__trigger {
        cursor: pointer;

        display: flex;
        gap: 0.75rem;
        background-color: $neutral600;
        border: none;
        color: white;
        @include tp7;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }

    &__list {
        position: absolute;
        top: 2.5rem;
        display: flex;
        flex-direction: column;
        background-color: $neutral800;
        box-shadow: 0px 8px 16px rgba(2, 1, 44, 0.32);
        width: 13.375rem;
        padding: 0.5rem;
        border-radius: 0.75rem;
        border: 1px solid $neutral600;
    }

    &__day {
        display: flex;
        @include tp7;
        padding: 0.625rem 0.5rem;
        border-radius: 0.5rem;

        &:hover {
            background-color: $neutral700;

        }


    }

    &__radio {
        appearance: none;

    }


}

.day-picker__day,
label {
    cursor: pointer;
}