@use "../../assets/styles/partials/typography" as *;
@use "../../assets/styles/partials/variables" as *;


.day-forecast {
    margin-top: 2rem;
    &__location {
        @include tp4;
        margin-bottom: 0.75rem;
    }

    &__date {
        @include tp6;
        margin-bottom: 1rem;
    }

    &__icon {
        height: 7.5rem;
        width: 7.5rem;
    }

    &__temperature {
        display: flex;
        align-items: center;
        @include tp1;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }

    &__main {
        background-image: url("/images/bg-today-small.svg");
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        border-radius: 1.25rem;
        padding: 2.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__stats {
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    &__stat {
        background-color: green;
        border-radius: 0.75rem;
        background-color: $neutral800;
        border: 1px solid $neutral600;
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &-label {
            color: $neutral200;
            @include tp6
        }

        &-value {
            color: white;
            @include tp3;
        }
    }
}