@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/typography" as *;

.header {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 8.625rem;
    }

    &__title {
        @include tp2;
        color: white;
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }
}