@use "./assets/styles/partials/variables" as *;
@use "./assets/styles/partials/mixins" as *;


.app {
  min-height: 100vh;
  background-color: $neutral900;
  padding: 1rem;
  color: white;

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 3rem 7rem 5rem 7rem;
  }


  &-layout__container {
    @include desktop {
      max-height: 45rem;
      display: flex;
      gap: 2rem;
    }
  }

  &-layout__left {
    @include desktop {
      width: 65%;
    }
  }
}

.hourly-forecast {
  @include desktop {
    width: 31%;
  }
}