@use "./assets/styles/partials/variables" as *;
@use "./assets/styles/partials/mixins" as *;


.app {
  min-height: 100vh;
  background-color: $neutral900;
  padding: 1rem;
  color: white;

  @include tablet {
    padding: 1.5rem;
  }
}